// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// home.html.erb

.home-main {
  margin-bottom: 100px;
}


.item {

  img {
    height: 500px!important;
    width: 100%;
  }
}

.home-title {
  font-family: serif;
  margin-top: 50px;
  margin-bottom: 100px;

  i {
    margin-right: 16px;
  }
}

.contents-box {
  margin-bottom: 30px;
}
